.grid {
  //background-color: $color-dark;
  display: flex;
  color: $color-primary;
  font-family: $font-primary;
  font-size: 3rem;
  font-weight: 300;
  align-items: center;
  background-color: $color-dark;

  &__table {
    background-color: $color-dark;
    //border: 1px solid white;
    outline: none;
    padding-left: .4rem;
    animation: grid--load-1 cubic-bezier(0.82, 0, 0.31, 0.99) 1000ms;
    table-layout: fixed;
  }
  

  &__column {
    font-size: 1.4rem;
    padding: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    //background: rgba($color-primary, 0.06);
    font-weight: 400;
  }

  &__row {
    font-size: 1rem;
    padding-top: .5rem;
    font-weight: 400;
  }

  &__body {
    padding-top: 2rem;
    justify-items: center;
  }
}

@keyframes grid--load-1 {
  0% {
    transform: translateY(1%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}